
/* Barra de home  */
*{
	margin: 0; 
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: white;
}
.navegar{
	width: 1000px;
	margin: 30px auto;
	background-color:#fff;
}
.navegar ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;	
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;

}
/* submenu*/
.submenu{
	position: absolute;
	background-color: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
