/*/////////////////////////////////////////////////////////////////////////////////////////*/

body{
    background:white;
    text-align:center;
}
div.cuerpo

/*/////////////////////////////////////////////////////////////////////////////////////////*/

                  /* Barra de home  */
header{
        /*border: black 1px solid;
	margin: 5px;
	padding: 2px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.navegar{
	width: 1000px;
	margin: 30px auto;
	background-color:#fff;
}
.navegar ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;

}
                /* submenu*/
.submenu{
	position: absolute;
	background-color: #333333;
	width: 200%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

    /*Linea*/
#linea{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    border: black 1px solid;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

    /*Cuerpo*/

div.imagenes{
  /*margin: 5%;
  padding: 2%;
  height: 45%;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

                /* Follow */
  .social {
    margin: 0%;
  }
  .social p {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
		/* el tamaño de la separacion de los links de las fotos de la redes sociales  */

  .links a {
    margin: 12px;
  }
        	/* tamaño de los iconos */
  .links a i {
    font-size: 2rem;
  }
  .footer {
	position: static-bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(27, 142, 150);
	color: white;
	text-align: center;
	bottom: 0%;

  }


/*/////////////////////////////////////////////////////////////////////////////////////////*/
