body{
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	background-color: #000000;
	text-align: center;
}
h1{
	text-decoration: underline;
}
h2{
	text-decoration: overline;
}
p{
	text-align: justify;
	color: black;
	background-color: #DDE0E0;
}
table{
	table-layout: auto;
	border-spacing: 5px;
	caption-side: top;
	border-color: gray;
        background: #97DAD2;
}
#recreo{
	background: #F7A16E;
}
#dia{
	background: #607AA3;
}
#hora{
	background: #21B7A3;
}
#marcas{
	background: #AAECAE;
}
#prog{
	background: #D9B7FF;
}
#sis{
	background: #78FF6F;
}
#base{
	background: #6E9EDB;
}
#ento{
	background: #BFEE5D;
}
#fol{
	background: #BF6D5D;
}
#emp{
	background: #BF97A7;
}
#ing{
	background: #FFFF87;
}
