/*Pagina Principal - Home*/
body{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-image: url("Imagenes/montain.jpg");
}
div{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgb(135,195,255,0.4);
}
#chiby{
    width: 35%;
    height: 35%;
}
.tabla_principal{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-color: #1080B9;
    background-color: #1080B9;
}
/*Página1 - Periodico*/
.tabla_principal_news{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-color: lightgrey;
    background-color: lightgrey;
}
#News{
    background-image: url("Imagenes/papers.jpg");
    background-size: auto;
}
.newsdiv{
    margin: 2%;
    padding: 1%;
    background-color: rgb(130,150,150,0.8);
}
#textdiv-01{
    margin: 1%;
    padding: 2%;
    background-color: rgb(130,150,150);
    border: 2px solid rgb(255,255,255,0.8);
    height: 96%;
    width: 34%;
    float: right;
}
#textdiv-02{
    margin: 1%;
    padding: 2%;
    background-color: rgb(130,150,150);
    border: 1px solid rgb(255,255,255,0.8);
    height: 46%;
    width: 62%;
}
