/*/////////////////////////////////////////////////////////////////////////////////////////*/
body{
  background:white;
  text-align:center;
}
div.cuerpo
/*/////////////////////////////////////////////////////////////////////////////////////////*/

                /* Barra de home  */
                header{
                  /*border: black 1px solid;
            margin: 5px;
            padding: 2px;*/
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            }
            .navegar{
            width: 1000px;
            margin: 30px auto;
            background-color:#fff;
            }
            .navegar ul{
            list-style: none;
            }
            .menu > li{
            position: relative;
            display: inline-block;
            }
            .menu > li > a{
            display: block;
            padding: 15px 20px;
            color: #353535;
            font-family: 'Open sans';
            text-decoration: none;
            }
            .menu li a:hover{
            color: #CE7D35;
            transition: all .3s;
            
            }
                          /* submenu*/
            .submenu{
            position: absolute;
            background-color: #333333;
            width: 200%;
            visibility: hidden;
            opacity: 0;
            transition: opacity 1.5s;
            }
            .submenu li a{
            display: block;
            padding: 15px;
            color: #fff;
            font-family: 'Open sans';
            text-decoration: none;
            }
            .menu li:hover .submenu{
            visibility: visible;
            opacity: 1;
            }
            

/*/////////////////////////////////////////////////////////////////////////////////////////*/

  /*Linea*/
#linea{
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  border: black 1px solid;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

  /*Cuerpo*/

div.imagenes{
  width: 100%;
  height: 550px;
  background: url("./img/showcase2.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.slider{
width: 500px;
height: 500px;
border-radius: 10px;
overflow: hidden;
}

.slides{
width: 500%;
height: 500px;
display: flex;
}


.slides input{
display: none;
}

.slide{
width: 20%;
transition: 2s;
}

  

.slide img{
width: 100%;
height: 100%;
object-fit: conver;
display: block;
}


/*css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: left;
}

.manual-btn{
border: 2px solid #40D3DC;
padding: 4px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
background: #3c15a7;
}

#radio1:checked ~ .first{
margin-left: 0;
}

#radio2:checked ~ .first{
margin-left: -20%;
}

#radio3:checked ~ .first{
margin-left: -40%;
}

#radio4:checked ~ .first{
margin-left: -60%;
}

#radio5:checked ~ .first{
margin-left: -80%;
}

/*css for automatic navigation*/
.navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}

.navigation-auto div{
border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
background: #40D3DC;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/


a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}



  /* Links */
  .footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-container ul {
    margin: 0 auto;
  }

  .footer-links li {
    line-height: 2.8;
  }

  .footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////////*/
  /* Global */

  body {
    font-family: "Oswald", sans-serif;
    color: #1e272e;
    color: #fff;
    font-size: 16px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
  /* News Cards */
  .news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 20px 0;
    text-align: center;
    color: #000000;

  }

  .news-cards img {
    width: 100%;
    height: 180px;
      vertical-align: middle;
  }

  .news-cards h3 {
    font-size: 10px;
    margin: 10px 0;
    color: #000000;
  }

  .news-cards a {
    padding: 10px 0;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }



  
