
.menu nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      }

.menu nav li{
      display:inline-block;
      width:15em;
      height:30px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}

.menu nav li:hover{
      background-color:#fff;
      color:#000;
      }

.menu nav li:hover{
      background-color:#fff;
      color:#000;
      }

.menu nav li>ul{
      display:none;
      }

.menu nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}

.cajas{
      width: 25.5em;
      margin: 40px;
      /*height: auto;*/
      height: 34em;
      background: rgb(222, 222, 222);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
      float: left;
  }
   .con-cajas{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .imagen{
   width:25.5em;
   height:20em;
 }
 .boton
 {
   background-color:#fff;
   width:5em;
   height:3em;
 }
